body{
	background-color: #fff;

}
header{
    background-color: #000;
    color: #fff;
    text-align: left;
    font-size: 40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0;
	height:100px;
	padding-top: 20px;
	object-fit: contain;
}
nav{
	
	text-align: right;
	
}
a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;

}
.about{
	margin:0 auto;
	width:700px;
	font-size: 25px;
}